table{
    display: flex;
    justify-content: center; 
    align-items:center;
    border: 1px solid #ddd;
    width: 800px;
    margin: auto;
}
.heading{
    background-color: rgb(4, 143, 85);
    color:#fff;
}

td{
    padding: 5px;
    width: 150px;
}

.container1{
    background-color: #f1f1f1;
}

.container2{
    background-color: #fff;
}

button{
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color:#fff;
    padding: 5px 20px; 
    cursor: pointer;
}