table{
    margin: auto;
    /* box-shadow:-1px 3px 30px -10px #000;
    border: 1px solid #ddd;
    border-radius: 5px; */
}

td{
    padding: 5px 30px;
    width: 80px;
}

button{
    background-color:red;
    color: #fff;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding : 3px 15px;
    cursor: pointer;
}

.container-light{
    background-color: #f1f1f1;
}

.container-white{
    background-color: #fff;
}